<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sg.edu.np.mad.voiceassist">

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="CaringFocus"
        android:roundIcon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoiceAssist">
        <activity android:name=".googleMaps"></activity>
        <activity
            android:name=".showHelpee"
            android:launchMode="singleInstance" />
        <activity android:name=".helper" />
        <activity
            android:name=".ChooseRole"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SpeechToText"
            android:launchMode="singleInstance" />
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyBecRRW4kQBNuW-W2PXmC0Vv9VekV-4cNM" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDjlIAG8TvCxs9GIWGYmpq3MBqnl3O492w" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".TextToSpeechAct"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance" />

        <service android:name=".helperBackgroundProcess" />
    </application>

</manifest>